@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .bg-size-mobile {
    background-size: 100%;
  }
  .bg-size-desktop {
    background-size: 100%;
  }

  .clippedImage {
    clip-path: circle(18% at 50% 50%);
  }
}
